<div class="center">
    <img [src]="image" [class]="animation_class"/>
    <h1>OrangePi</h1>
    <button id="shutdown" (click)="shutdown()">Shutdown</button>
    <br>
    <button id="reboot" (click)="reboot()">Reboot</button>
    <br>
    <!-- <a routerLink="/login">Logout</a> -->
    <button (click)="logout()">Logout</button>

    <div id="notification" [class]="notification">
        <h1>Error</h1>
<pre>It is not possible to perform 
the action</pre>
        <button (click)="hide()">Ok</button>
    </div>
</div>
