#shutdown {
    background-color: rgba(251, 57, 57, 0.98);
}

#reboot {
    background-color: rgba(251, 222, 57, 0.98);
}

button {
    margin: 5px 0;
}

button:last-child {
    margin-top: 20px;
}

@mixin black-white($x){
    -webkit-filter: grayscale($x);
    filter: grayscale($x);
}



@keyframes blink {
    from {
        @include black-white(0%);
    }
    50% {
        @include black-white(100%);
    }
    to {
        @include black-white(0%);
    }
}

@keyframes spin {
    from {
        transform: rotate(0)
    }
    to {
        transform: rotate(360deg)
    }
}


.shutdown {
    animation-name: blink;
    animation-duration: 1.4s;
    animation-iteration-count: infinite;
}

.reboot {
    animation-name: spin;
    animation-duration: 1.4s;
    animation-iteration-count: infinite;
}

img {
    text-decoration: line-through;
    color: red;
}
